<footer class="page-footer grey darken-2">
  <div class="container ">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Wavelet</h5>

        <p class="grey-text text-lighten-4">CODE Name: <b class="teal-text text-lighten-2">fx-wavelet</b> based on <a
                  class="teal-text text-lighten-2" href="http://nodered.org">IBM Node-RED</a></p>

        <p class="grey-text text-lighten-4">A powerful framework to develop your backend application with less
          coding.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright  grey darken-3">
    <div class="container">
      &copy; 2015 Copyright Wavelet
      <a class="grey-text text-lighten-4 right" href="#!">Privacy & Cookies Policy</a>
    </div>
  </div>
</footer>